.box5 {
    position:relative; /*相対配置*/
    top: 0px;
    width: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    left: 20px;
    float: left;
}
.box6 {
    position:relative; /*相対配置*/
    top: 0px;
    width: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    right: 20px;
    float: right;
}
.box123 h3{
    color: #40E0D0;
}
