.box3 {
    position:relative; /*相対配置*/
    right: 90px;
    width: 40%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*”wŒiF*/
    float: right;
}
.box4 {
    width: 60%;
    padding: 0.5em 1em;
    margin: 2em 0;
    float: left;
}
.box3 p {
    margin: 0; 
    padding: 0;
    
}
.box7 {
       float: center;
}
.box7 h2{
       color: #FFB6C1;
}
.box7 h1{
       color: #FFB6C1;
}
.box7 h3{
       font-size: 20px;
}
.box71 h2{
       color: #FFB6C1;
}
.box71 h1{
       color: #FFB6C1;
}
.box71 h3{
       font-size: 20px;
}
.box8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #FFD5EC;
    float: center;
}

.box9 {
    position:relative; /*相対配置*/
    bottom: 32px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #FF82B2;
    float: center;
}
.bou b{
    font-size: 20px;   
}

table,
td {
    border: 1px solid #99CCCC;
}

thead,
tfoot {
    background-color: #99CCCC;
    color: #fff;
}
.box5 {
    position:relative; /*相対配置*/
    top: 50px;
    width: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    float: left;
}
.box6 {
    position:relative; /*相対配置*/
    top: 50px;
    width: 50%;
    padding: 0.5em 1em;
    margin: 2em 0;
    float: right;
}
