.box3 {
    width: 40%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*”wŒiF*/
    float: right;
}
.box4 {
    width: 60%;
    padding: 0.5em 1em;
    margin: 2em 0;
    float: left;
}
.box3 p {
    margin: 0; 
    padding: 0;
    
}
.box8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #FFD5EC;
    float: center;
}

.box9 {
    position:relative; /*相対配置*/
    bottom: 20px;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #FF82B2;
    float: center;
}
.bou b{
    font-size: 20px;   
}
